/* $Id: ie8-fixes.css,v 1.5 2010/09/17 21:36:06 eternalistic Exp $ */

/* IE8 fixes
-------------------------------------------------------------- */
/* Ubercart */
/* improve appearance of fieldset legends */
#header-top-region .form-item input {
	max-width: 999px !important;
}
#content-content #edit-query {
	border: 1px solid #D85A1A !important;
	width: 218px !important;
}
#header-top-region #google-cse-searchbox-form #edit-query, #header-top-region #google-cse-searchbox-form #edit-query-1 {
	border: 1px solid #D85A1A !important;
	width: 130px !important;
	display: block !important;
}
#uc-cart-checkout-form fieldset legend {
  margin-bottom: 10px;
  margin-top: -35px;
  padding-left: 10px;
  padding-right: 10px;
}
#ggai-block {
	background-image: none !important;
}
#ggai-block .wm_sun {
	margin: 15px -20% -1px 10% !important;
}
.front #ggai-block .wm_sun {
	margin: 15px -50% -1px 10% !important;
}
#block-views-homepage_slideshow-block_1 .inner {
	overflow: hidden !important;
	width: 569px;
	height: 222px;
}
#block-views-homepage_slideshow-block_1 .content {
	margin-top: -2px !important;
}
#block-views-homepage_slideshow-block_1 .views-slideshow-controls-bottom {
	margin-top: -30px;
}