/* Put custom CSS and CSS overrides in this file. 		*/										
/* Add only Typography CSS.					        	*/
/* For example: font (size, weight, family), 			*/
/* 		text-alight, line-height, text-transform, 		*/

@font-face {
    font-family: 'EksjaExtremesThin';
    src: url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-thin-webfont.eot);
    src: local('☺'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-thin-webfont.woff) format('woff'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-thin-webfont.ttf) format('truetype'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-thin-webfont.svg#webfont) format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'EksjaExtremesRegular';
    src: url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.eot);
    src: local('☺'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.woff) format('woff'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.ttf) format('truetype'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.svg#webfont) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EksjaExtremesBold';
    src: url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-bold-webfont.eot);
    src: local('☺'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-bold-webfont.woff) format('woff'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-bold-webfont.ttf) format('truetype'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-bold-webfont.svg#webfont) format('svg');
    font-weight: normal;
    font-style: normal;
}

a:link, a:visited,
a:hover, a:active {
	font-weight: normal;
}

h1.title, h2, h3, h4, h5 { 
	font-family: "EksjaExtremesRegular", Arial, Helvetica, Verdana, sans-serif;
	line-height: 1.3em;
	}
h1.title{
	font-weight: normal !important;
	font-size: 200% !important;
}
h1.title, .view-title {
	letter-spacing: -1px;	
}

h2     { font-size: 1.5em; font-weight: bold;}
h3     { font-size: 1.3em; font-weight: bold;}
h4, h5 { font-size: 1.1em; font-weight: bold;}

/* sidebar titles */
#sidebar-first h2.title,
#sidebar-last h2.title,
h2.block-title,
h2.block-title-inner { 
	font-weight: normal;
	font-size: 16px;
}

/* Header
/-------------------------------------------------------------- */
.header-group-inner {
	line-height: 0;
}
.node-type-news-issue .header-group-inner {
	line-height: 19px;
}
#site-title {
	font-family: "EksjaExtremesRegular", Arial, Helvetica, Verdana, sans-serif;
	font-weight: normal !important;
	font-size: 26px !important;
	text-shadow: #000 3px 2px 1px;
}
#site-name {
	font-size: 118%;
	line-height: 75%;
}
#site-name a {
	font-weight: normal;
}
#ptitle-text {
	line-height: 55px;
}
.header-logo a:hover {
	text-decoration: none;
	cursor: pointer;
}

/* Right sidebar site title
/-------------------------------------------------------------- */
#site-name-right-sidebar .site-name-right-label {
	font-family: "EksjaExtremesRegular", Arial, Helvetica, Verdana, sans-serif;
	font-weight: normal !important;
	font-size: 160% !important;
	/* text-shadow: #ccc 3px 2px 1px;
	line-height: 25px; */
}

#site-name-right-sidebar .site-name-right-sidebar-inner {
	margin-left: 25px !important;
	margin-right: 20px !important;
	padding-bottom: 25px;
}

#site-name-right-sidebar .site-name-right-label a {
	color: #5E8002 !important;
	text-decoration: none !important;
}

#site-name-right-sidebar {
	background: url("../images/extension/gif/lay_ilr_horr.gif") no-repeat scroll left bottom transparent;
}

/* Primary Links
/-------------------------------------------------------------- */
#primary-menu-inner {
	font-family: "EksjaExtremesRegular", Arial, Helvetica, Verdana, sans-serif;
	font-weight: 100 !important;
	font-size: 14px;
}
#primary-menu-inner li.expanded ul.menu li.leaf a{
	font-family: Arial, Helvetica, Verdana, sans-serif !important;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}
.sf-menu .menu li {
	line-height: 120% !important;
	font-size: 12px !important;
}

/* Breadcrumbs
/-------------------------------------------------------------- */
.breadcrumb a:link, .breadcrumb a:visited,
.breadcrumb a:hover, .breadcrumb a:active {
	font-weight: bold;
}

/* Home page
/-------------------------------------------------------------- */
div.view-extension-news div.views-field-field-news-teaser-value {
	font-size: 90%;
}
/* - below header - */
.field-content {
	line-height: 140%;
	}
.views-field-title a {
	font-size: 105%;	
}
.views-field-view-node {  /*  read more...  */
	font-size:90%; 
}
#content-content li {    /* statistics page */
	line-height: 19px;
	padding-top: 7.5px;
	padding-bottom: 5.5px; 
}
.view-extension-news-lower-half li {   /* home: lower articles */
	line-height: 167%;
}
div.views-field-field-community-images-data, div.views-field-field-extension-story-image-data {
	text-align: left !important;
	width: 95%;
	margin: auto;
}
.view-extension-story.view-display-id-node_content_1 .field-content, .view-comunity-page-images .field-content {
	color: #564C46 !important;
}
#sidebar-first .view-gallery-photos, #sidebar-last .view-gallery-photos {
	font-size: 11px;
}
#sidebar-first .view-gallery-photos .caption, #sidebar-last .view-gallery-photos .caption {
	text-align: left !important;
}
/* Inside Pages
/-------------------------------------------------------------- */
html.js fieldset.collapsible legend a {
	font-size: 12px !important;
}
.view-news-story-book-nav .view-content .views-row {   /* list items */
	font-size: 95%;
	font-weight: normal;
	line-height: 1.6em;
	color: red;
}
#content-inner p {
	line-height: 19px;
}

/* Images
/-------------------------------------------------------------- */
.node-type-basic-page .views-row, /* lower articles*/ 
.fusion-float-imagefield-right .views-row {  /*  article images - main */
	text-align: center;
	font-size: 11px;
}
.fusion-float-imagefield-right .view-header {  /* Click image for larger image*/
	text-transform: capitalize;	
	font-size: 11px;		
}
.node-type-basic-page .views-field-field-news-images-data, /* lower articles - desc text */ 
.fusion-float-imagefield-right .views-field-field-news-images-data { /* upper articles*/ 
	text-align: left;
	line-height: 120%;
}

div.story-image-info {
	font-size: 100%; 
	text-align: right;
}
#footer-message-inner {
	text-align: center;
}
#imageData #caption {
	display: block;
	text-align: left;
}
#sidebar-first li a.active, #sidebar-last li a.active {
	color: #B4B9BB;
	display: block;
/*	padding-left: 14px;
	background: url('../images/extension/gif/gfx_ico_listarrow2.gif') left 2px no-repeat;
	*/
}
/* Printer Friendly
/-------------------------------------------------------------- 

#block-views-54ee180abfdb3795aa6a4f9a639cec9c a,
#block-views-4bc48298b2b7f1e238fba59fae188cc4 a {
	font-size: 110%;
}
*/
.views-field-field-extension-page-images-data, .views-field-field-news-images-data, .views-field-field-extension-page-images-data .field-content, .views-field-field-news-images-data .field-content {
	 line-height: 140%;
	  text-align: left;
}