/* $Id: print.css,v 1.1.2.1 2009/02/13 06:40:02 johnalbin Exp $ */

/* underline all links */
a:link, a:visited {
  text-decoration: underline !important;
}

/* Don't underline header */
#site-name a:link,
#site-name a:visited {
  text-decoration: none !important;
}

/* Un-float the content */
#content,
#content-inner {
  float: none;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

/* Turn off any background colors or images */
body,
#page, #page-inner,
#main, #main-inner,
#content, #content-inner {
  color: #000;
  background-color: transparent !important;
  background-image: none !important;
}

/* Hide sidebars and nav elements */
#header-top-wrapper, #header-group, #rss-feed-icon, 
#logo, #sidebar-first, #sidebar-last, #footer-wrapper, 
#footer-message-wrapper, #content-tabs, #breadcrumbs, 
#comments, #admin-menu, .fusion-edit, div.tabs, .links, 
.taxonomy,.book-navigation, .forum-topic-navigation, 
.pager, .feed-icons, .views-admin-links,
#header-primary-menu-wrapper, #block-textsize,
#preface-top-wrapper {
  visibility: hidden;
  display: none;
  width: 0 !important;
  height: 0 !important;
}

/* Set main content to full page width */
#content-group {
  width: 100% !important;
}

/* Hide the "add to any" block */
.block-addtoany {
  display: none !important;
}


/* Otherwise, Firefox clips the content after the first page. */
#page {
  overflow-y: visible;
}